<h2 class="content-block">Tasks</h2>

<dx-data-grid class="dx-card wide-card"
  [dataSource]="dataSource"
  [showBorders]="false"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="true">

  <dxo-search-panel [visible]="true"></dxo-search-panel>
  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxo-editing
  mode="cell"
  [allowUpdating]="true"
  [allowAdding]="true"
  [allowDeleting]="true">
</dxo-editing>

  <dxi-column
    dataField="id"
    [width]="90"
    [hidingPriority]="2"
    [allowEditing]="false">
  </dxi-column>
  <dxi-column
    dataField="status"
    [width]="90"
    [hidingPriority]="2">

    <dxo-lookup
      [dataSource]="statuses"
      displayExpr="status"
      valueExpr="id">
    </dxo-lookup>
  </dxi-column>
  <dxi-column
    dataField="subject"
    [width]="400"
    [hidingPriority]="2">
  </dxi-column>
  <dxi-column
    dataField="description"
    [hidingPriority]="2">
  </dxi-column>

</dx-data-grid>
